@import 'base';

.navbar {
	background-color: black;
	color: white;
	position: sticky;
	top: 0;
	z-index: 1;
	
	.menu-icon {
		text-align: right;

		i {
			padding: 20px;
		}
	}

	.navbar-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		>* {
			display: flex;
	
			>* {
				padding: 15px;
			}
		}
	}

	.hidden {
		display: none;
	}
}

.header {
	background: linear-gradient(to bottom right, rgb(148, 255, 148), rgb(60, 241, 241));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
	text-align: center;

	>* {
		padding: 5px;
	}

	img {
		width: 100px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 16px;
	}
}

.products-container {
	padding: 10px;

	.products-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin: 10px;

		.product-item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: white;
			padding: 20px;
			border: 1px solid rgb(230, 230, 230);
			border-radius: 5px;
			width: 400px;
			height: 450px;

			img {
				align-self: center;
				max-width: 260px;
				max-height: 260px;
				transition: all 0.3s ease-in-out;
			}

			img:hover {
				transform: scale(1.1) rotate(5deg);

			}

			a {
				align-self: center;
				text-decoration: none;
				color: white;
				background-color: orange;
				border-radius: 20px;
				padding: 10px 20px;
				margin-top: 20px;
			}
		}
	}
}